body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 50px;;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow-y: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    position: relative;
}

.work-list ul {
    list-style: none;
    padding: 0;
    margin-top: 0px;
    font-size: 18px;
}

.work-list li {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    cursor: pointer;
    font-size:medium;
    transition: transform 0.2s ease, shadow 0.2s ease; /* Add transition for smooth animation */
}

.work-list li:hover {
    transform: scale(1.1); /* Slight zoom out (3% smaller) */
}

.work-list li span {
    color: #999;
    font-size: 15px;
}

.profile {
    text-align: center;
    max-width: 300px;
}

.profile h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.profile p {
    margin: 5px 0 20px;
}

.highlight {
    color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 ;
    padding: 9px;
}

nav a:hover {
    text-decoration: underline;
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align:center;
    width: 250px;
    height: 500px;
}

.popup iframe {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}



.work-list li.highlighted {
    border-radius: 23px; /* Adjust the radius as needed */
    background-color: #ffffff; /* Optional: add a light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes dissolve {
    0% { background-color: #f0f8ff; } /* Very light skyblue */
    25% { background-color: #f5eaff; } /* Very light violet */
    50% { background-color: #fcecea; } /* Very light pink */
    75% { background-color: #ffefef; } /* very light red */
    100% { background-color: #f0f8ff; } /* Very light skyblue */
}

body {
    animation: dissolve 9s infinite;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .work-list {
        margin-bottom: 20px;
    }

    .profile {
        text-align: center;
        max-width: 100%;
    }

    .popup {
        width: 90%;
        height: auto;
    }

    .work-list li {
        padding: 10px;
        font-size: 16px;
    }
}

